<!DOCTYPE html>
<html>

<%- include('partials/head') %>

<body>
  <%- include('partials/navbar') %>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <p>Dit is een planning app voor Soli Zaandam, hiermee kunnen leden aangeven of ze aanwezig zijn of niet.</p>
  <%- include('partials/footer') %>
</body>

</html>